# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Editor directories
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# Misc
*.tsbuildinfo
.vs/tcgame/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/tcgame/FileContentIndex/f6e71fdb-4f69-4b7f-9979-5e3c3dcac418.vsidx
.vs/tcgame/v17/.wsuo
